 /* header{
    position: relative;
    background: #fff;
}

.navbar{
    position: absolute;
    width: 100%;
    
}
.nav-sticky{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    width: 100%;
    animation: newNav 0.6s ease-in-out;
    background: #fff;
    z-index: 9999999999;
}

@-webkit-keyframes newNav{
    0%{
        top: -100px;
    }
    100%{
        top: 0;
    }
}

*/